@model Admin.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<p class="login-box-msg">Enter your email.</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "Email", @placeholder = "E-mail" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
            <button type="button" id="emaillink" class="btn btn-primary btn-block btn-flat">Email Link</button>
        </div>
        <!-- /.col -->
    </div>
    
}

<a href="@Url.Action("Login")" class="text-center">I remember my password</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#emaillink").click(function () {

            $.post(
                "@Url.Action("ForgotPassword", "Account")",
                $("#form").serialize(),
                function(data){
                    if (data) {
                        swal(
                            'Good job!',
                            'Your password has changed!',
                            'success'
                            )
                    } else {
                        swal(
                            'Oops...',
                            'Something went wrong!',
                            'error'
                            )
                    }
                },
            "json");

        });

    </script>
}