@model Admin.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<p class="login-box-msg">Reset your password.</p>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "Email", @placeholder = "E-mail" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password", @placeholder = "Password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "Password", @placeholder = "Retype password" })
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
            <button type="button" id="reset" class="btn btn-primary btn-block btn-flat">Reset</button>
        </div>
        <!-- /.col -->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#reset").click(function () {

            $.post(
                "@Url.Action("ResetPassword", "Account")",
                $("#form").serialize(),
                function(data){
                    if (data) {
                        swal(
                            'Good job!',
                            'Your password has changed!',
                            'success'
                            )
                    } else {
                        swal(
                            'Oops...',
                            'Something went wrong!',
                            'error'
                            )
                    }
                },
            "json");

        });

    </script>
}

